<div @attributes="@InputAttributes">
    @ChildContent
</div>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override void OnParametersSet()
    {
        InputAttributes = InputAttributes.InitializeInputAttributes(out var initStyle);

        var propsStyle = GenerateStyle();

        foreach (var (key,value) in initStyle)
        {
            if (propsStyle.ContainsKey(key))
                propsStyle[key] = value;
            else
                propsStyle.Add(key, value);
        }

        InputAttributes.SetStyle(propsStyle);
    }

    protected virtual Dictionary<string, string> GenerateStyle() => new();

}